a {
    color:red;
    font-family: "Corbel";
    padding:5px;
    margin: 5px 0;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color:rgb(175, 0, 0);
    text-decoration: underline;
}

input:hover {
    color:rgb(175, 0, 0);
}

input, label {
    padding:5px;
    margin: 5px 0;
    font-family: "Arial";
}

iframe {
    margin:5px;   
}

header.header {
    background: lightgrey;
}

header.condition {
    line-height: 1.2;
    font-family: "Arial";
}

legend {
    line-height: 1.2;
    font-family: "Georgia";
}

sub {
    line-height: 0.8;
    font-family: "Corbel";
}

p   {
    padding:5px;
    margin: 5px 0;
    font-family: "Arial";
}

h1, h2, h3 {
    text-align: center;
}

h1  {
    text-transform: capitalize;
}